.btnSecoundary
{
    background-color: transparent;
    color: #434343;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.btnSecoundary:hover
{
    background-color: #ccc;
}
.btnSuccess
{
    background-color: #198754;
    border-color: #198754;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.btnSuccess:hover
{
    background-color: #127446;
}
