/*

    COMMENTS COMPONENT STYLES

*/

.commentContainer
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
}


.textArea
{
    transition: all 300ms ease;
    height: 200px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: .8rem;
    font-family: 'Inter';
    border:2px solid #ccc;
    outline: none;
    resize: vertical;
}

.inputText
{
    transition: all 300ms ease;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: .8rem;
    font-family: 'Inter';
    border:2px solid #ccc;
    outline: none;
    resize: vertical;}

.buttonsContainer
{
    display: flex;
    margin-top: 20px;
}

.cancelButton
{
    background-color: transparent;
    color: #434343;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.cancelButton:hover
{
    background-color: #ccc;
}
.sendButton
{
    background-color: #198754;
    border-color: #198754;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.sendButton:hover
{
    background-color: #127446;
}

.commentIconsContainer
{
    display: flex;
    width: auto;
    margin-top: 20px;
}

.commentOptionContainer
{
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 20px;
    margin-right: 10px;
}
.commentOptionContainer:hover
{
    background-color: rgba(204, 204, 204, 0.30);
    cursor: pointer;
}

.commentIcon
{
    width: 20px;
    height: 20px;
    margin: 0px 10px;
    cursor: pointer;
    display: flex;
}
/* .repliesContainer
{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    justify-content: center;
} */