.footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 160px;
    margin-bottom: 5px;
    border-top: 2px solid #ccc;
}

.footerCopy {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    color: #343434;
}


@media (max-width: 448px) {
    .footer {
        height: 50px;
    }
    .footerCopy {
        font-size: 12px;
    }
}