.mainContainer {
    width: 1029px;
    margin: 0px auto;
    margin-top: 20px;
    display: flex;
}

.asideSection {
    width: 361px;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #ccc;
}

