
.mainContentContainer img {
    width: 100%;
    border-radius: 15px;
}

.mainContentContainer {
    width: 1029px;
    /* height: 3000px; */
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleContainer {
    width: 640px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleDate {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #CCCCCC;
}

.articleTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #343434;
    margin-top: 0px;
}

.articleAuthor {
    align-self: flex-start;
    display: flex;
    width: 160px;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #CCCCCC;
    justify-content: space-between;
}

.articleContent {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #808080;
    border-bottom:2px solid #ccc ;
}
.mainImageContainer {

    margin-bottom: -15px;
    margin-top: 20px;
}
.ImageMain {
    width: 100%;
    height: 290px;
    border-radius: 15px;
    object-fit: cover;
}
.articleContent a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ccce;
    text-decoration: solid;
}

.intrestedContainer {
    width: 640px;
    height: 100px;
    margin-top:40px;
    border-top: 2px solid #ccc;
}

.articleResume {
    text-overflow: ellipsis;
}

.commentsSection
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*

    COMMENTS

*/

.commentsTitle
{
    color: gray;
}

.commentsContainer
{
    height: auto;
    width: 100%;
}
.commentInput
{
    border: 2px solid #ccc; 
    border-radius: 8px;
    padding: 20px;
    font-size: 1rem;
    color: gray;
    width: 100%;
    resize: vertical;
}

.commentIconsContainer
{
    display: flex;
    width: auto;
    margin-top: 20px;
}

.commentOptionContainer
{
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 20px;
    margin-right: 10px;
}
.commentOptionContainer:hover
{
    background-color: rgba(204, 204, 204, 0.30);
    cursor: pointer;}

.commentIcon
{
    width: 20px;
    height: 20px;
    margin: 0px 10px;
    cursor: pointer;
    display: flex;
}

.commentIcon
{
    /* background-color: #ccc; */
    fill: red;
}

/* .repliesContainer
{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    justify-content: center;
} */

/*  RESPONSIVE  */
@media (max-width: 1029px)
{
    .mainContentContainer {
        width: 100%;
    }
}

@media (max-width: 720px)
{
    .articleContainer {
        width: 510px;
    }
    .articleContent {
        /* background-color: red; */
        padding: 0px 20px;
        width: 550px;
        font-size: 15px;
    }
    .mainImageContainer {
        width: 500px;
    }
}
@media (max-width: 550px)
{
    .articleContainer {
        width: 400px;
    }
    .articleContent {
        /* background-color: red; */
        width: 400px;
        font-size: 15px;
        padding: 0px;
    }
    .mainImageContainer {
        width: 400px;
    }
    .articleTitle {
        margin: 0px;
    }

}

@media(max-width: 430px)
{
    .articleContainer {
        width: 350px;
    }
    .articleAuthor {
        font-size: 15px;
    }
    .articleDate {
        font-size: 15px;
    }
    .articleTitle{
        font-size: 25px;
    }
    .articleContent {
        width: 350px;
        font-size: 12px;
        padding: 0px 10px;
    }
    .mainImageContainer {
        width: 350px;
        margin-bottom: 5px;
    }
    .articleTitle {
        margin: 0px;
    }
}



/*

    COMMENTS COMPONENT STYLES

*/

.commentContainer
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
}

.replyContainer
{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-left: 4px solid #545454;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
}

.textArea
{
    transition: all 300ms ease;
    height: 200px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: .8rem;
    font-family: 'Inter';
    border:2px solid #ccc;
    outline: none;
    resize: vertical;
}

.buttonsContainer
{
    display: flex;
    margin-top: 20px;
}

.cancelButton
{
    background-color: transparent;
    color: #434343;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.cancelButton:hover
{
    background-color: #ccc;
}
.sendButton
{
    background-color: #198754;
    border-color: #198754;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.sendButton:hover
{
    background-color: #127446;
}